@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shalimar&display=swap');


body {
    margin: 0;
    background-image: url(../imgs/vetor.body.png);
    background-attachment: fixed;
    background-position: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

/*////////////////////////// canvas ///////////////////////*/
.nav_inferior {
    /* border: #00ffee 1px solid; */
    width: 80%;
    height: 15vw;
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

}

.canvas {
    /* border: solid 3px orange;  */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.canvas h1 {
    /* border: solid 3px orange; */
    width: auto;
    font-size: 3vw;
    margin: 0;
    margin-bottom: 1%;
    /* color: white; */

}

.canvas .container {
    /* border: solid 3px darkblue;  */
    display: flex;
    width: auto;

}

#tela {
    /* border: solid 6px #00ffee; */
    border-image: linear-gradient(#00ffee, #160c9f) 30;
    border-width: 5px;
    border-style: solid;
    background-color: white;
    width: 1300px;
    height: 500px;


}

.conta {
    /* background: #00ffeea4; */
    border: #00ffee solid 2px; 
    border-radius: 20px;

    /* color: #ffffff; */
    margin: 0.5%;
    padding: 1%;
    text-decoration: none;
    width: auto;
    height: auto;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.conta:hover {
    transform: scale(1.1);
}

/*//////////////////////////// footer //////////////////*/
/*//////////////////////////// footer //////////////////*/

.footer {
    /* border: rgb(255, 238, 2) solid 3px; */
    /* background: linear-gradient(to bottom, #00ffee30, #00ffee0c); */
    background-color: black;
    height: auto;
    color: white;

}

.footer .container {
    /* border: rgb(0, 0, 0) solid 3px; */
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;

}

.footer h2 {
    /* border: solid 3px indianred; */
    /* padding-top: 1%; */
    margin: 0%;
}

.footer p {
    /* padding-bottom: 1%; */
    /* border: solid 3px indianred; */
    /* margin: 1%; */
    margin: 0%;
}

/*//////////////// títulos //////////////////*/
.span_titulos {
    /* color: white; */
    font-size: 8vw;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-weight: 20;
    /* border: #bd2727 solid 3px; */
    margin: 0;
    padding: 0;
    /* color: white; */
}