body {
    margin: 0;
    /* background-color: #100F10; */
    background-image: url(/imgs/vetor.png);

}

.container {
    width: 80%;
    margin: auto;
}

#primeiroH1 {
    border: white solid 3px;
    font-size: 2.8vw;
}

.header {
    border: solid 3px orchid;
    height: 110px;

}

.header .container {
    border: solid 3px rgb(199, 17, 135);
    display: flex;
    height: auto;
    justify-content: space-between;

}


.header {
    border: solid 3px rgb(22, 179, 207);
    background: linear-gradient(to bottom, #00ffee60, #ffffff00);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#conta {
    border: #00ffee40 solid 1px;
    color: #100F10;
    background: #00ffeea4;
    border-radius: 20px;
    padding: 2% 10%;
    text-decoration: none;
    width: 40%;

}

.ref {
    color: white;
    text-decoration: none;
}


#aqui {
    color: #00ffee30;
}

/* 
ul {
     border: solid 3px rgb(18, 75, 8); 
    align-items: center;
    width: 28%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    list-style: none;
} */

li {
    border: solid 3px rgb(75, 37, 8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    /* padding: 5px; */
    text-align: center;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
}


/*/////////////////////// numero de cadastro //////////////*/
#numero_usuario {
    border: solid orangered 3px;
    width: 28vw;
}

#numero_usuario .container {
    border: solid rgb(255, 255, 255) 3px;

}

#msg_numero_usuario {
    border: solid rgb(43, 205, 28) 3px;
    color: white;
    font-size: 1.5vw;
    width: 15vw;
}

/*//////////////////////// mensagem /////////////////////*/

#mensagem {
    border: solid 3px lawngreen;
}

#mensagem .container {
    height: 25vw;
    border: solid 3px rgb(0, 227, 252);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mensagem p {
    border: solid 3px rgb(255, 231, 14);
    color: white;
    font-size: 2.6vw;
    text-align: center;

}

#escolha {
    border: solid lightcoral 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 0;
    width: 15vw;
}

.conta {
    /* background: #00ffeea4; */
    border: #00ffee solid 2px;
    border-radius: 20px;

    color: #ffffff;
    padding: 3%;
    text-decoration: none;
    width: auto;
    height: auto;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.conta:hover {
    transform: scale(1.1);
}