body {
    margin: 0;
    background-image: url(/imgs/vetor.jpg);

}

/* .container {
    width: 80%;
    margin: auto;
}

#primeiroH1 {
    border: white solid 3px; 
    font-size: 2.8vw;
}

.header {
     border: solid 3px orchid; 
    height: 110px;

}

.header .container {
     border: solid 3px rgb(199, 17, 135); 
    display: flex;
    height: auto;
    justify-content: space-between;

}


.header {
    border: solid 3px rgb(75, 8, 16); 
    background: linear-gradient(to bottom, #00ffee30, #ffffff00);
    display: flex;
    align-items: center;
    color: white;
}

#conta {
     border: #00ffee40 solid 1px; 
    color: #100F10;
    background: #00ffeea4;
    border-radius: 20px;
    padding: 2% 10%;
    text-decoration: none;
    width: 40%;

}

.ref {
    color: white;
    text-decoration: none;
}


#aqui {
    color: #00ffee30;
}

ul {
     border: solid 3px rgb(18, 75, 8); 
    align-items: center;
    width: 28%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

li {
     border: solid 3px rgb(75, 37, 8); 
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    padding: 5px;
    width: 100%;
    text-align: center;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
} */


/*////////////////////////// canvas ///////////////////////*/
.nav_inferior {
    border: #00ffee 1px solid;
    width: 80%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

    
    /* border-image: linear-gradient(#00ffee82, #160c9f5d) 30;
    border-width: 5px;
    border-style: solid; */
}

.canvas {
    /* border: solid 3px orange;  */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.canvas h1 {
    border: solid 1px orange;
    width: auto;
    font-size: 3vw;
    margin: 0;
    margin-bottom: 1%;
    color: white;

}

.canvas .container {
    /* border: solid 3px darkblue;  */
    display: flex;
    width: auto;

}

#tela {
    /* border: solid 6px #00ffee; */
    border-image: linear-gradient(#00ffee, #160c9f) 30;
    border-width: 5px;
    border-style: solid;
    background-color: white;
    width: 1300px;
    height: 550px;


}

.conta {
    /* background: #00ffeea4; */
    border: #00ffee40 solid 1px; 
    border-radius: 20px;

    color: #ffffff;
    padding: 1%;
    text-decoration: none;
    width: auto;
    height: auto;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.conta:hover {
    transform: scale(1.1);
}

/*//////////////////////////// footer //////////////////*/

.footer {
    /* border: rgb(255, 238, 2) solid 3px; */
    background: linear-gradient(to bottom, #00ffee30, #00ffee0c);
    height: 110px;

}

.footer .container {
    /* border: rgb(0, 0, 0) solid 3px; */
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

}

.footer h2 {
    /* border: solid 3px indianred; */
    padding-top: 2%;
    margin: 0%;
}

.footer p {
    padding-bottom: 1%;
    /* border: solid 3px indianred; */
    margin: 1%;
}