@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shalimar&display=swap');

body {
    padding: 0;
    margin: 0;
    /* background-color:  #ffffff53; */
    background-attachment: fixed;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


.vetor {
    background-image: url(../imgs/vetor.body.png);
    background-attachment: fixed;


}

.container {
    width: 80%;
    margin: auto;
}

#primeiroH1 {
    /* border: white solid 3px; */
    font-size: 3.2vw;
    font-family: 'Shalimar', cursive;
    font-weight: 100;
}

.header {
    /* border: solid 3px orchid; */
    height: 110px;

}

.header .container {
    /* border: solid 3px rgb(75, 8, 52); */
    display: flex;
    height: auto;
    justify-content: space-between;

}

.banner {
    /* border: solid 3px rgb(8, 75, 11); */
    height: 660px;
    width: auto;
    color: white;
    background-image: url(../imgs/banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#arte {
    /* border: solid 3px rgb(112, 218, 213); */
    /* color: white; */
    padding: 16% 12% 18% 12%;
    text-align: center;
    font-size: 4.5vw;
    font-family: 'Shalimar', cursive;
    font-weight: 100;
}

.header {
    /* border: solid 3px rgb(75, 8, 16); */
    background: linear-gradient(to bottom, #00ffee88, #41210300);
    display: flex;
    /* color: white; */
}

#aqui {
    color: #00FFF0;
}

.ref {

    color: white;
    text-decoration: none;
}


.header ul {
    /* border: solid 3px rgb(18, 75, 8); */
    align-items: center;
    width: 30%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.header li {
    /* border: solid 3px rgb(75, 37, 8); */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    padding: 5px;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
}

/*//////////////////////////////// conteudo /////////////////////////*/
/* 
.conteudo {
    margin-top: 100px;
    margin-bottom: 100px;

}

.conteudo .container {
    border: solid 3px white;
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.conteudo .historia {
    border: solid 3px indigo;
    width: 40%;
    height: 40%;
}

.historia p {
    border: solid 3px tomato;
    text-align: justify;
    color: white;
    font-size: 1.8vw;

}

.historia button {
    text-align: center;
    border: #00ffee82;
    color: #100F10;
    font-size: 1.4vw;
    width: 34%;
    background-color: #00ffee82;
    border-radius: 15px;
    transition: all .4s;


}

.conteudo img {
    border: solid 3px rgb(91, 130, 0);
    width: 40%;
    height: 100%;

} */

/*///////////////////////////////////// vanGogh///////////////////////////////////*/


.vanGogh .container {

    /* border-image: linear-gradient(#00ffee, #090544) 30;  */
    /* border-width: 5px; 
    border-style: solid ; */
    /* background-color: rgba(0, 0, 0, 0.959); */
    background-image: url(../imgs/banner.van.png);
    /* background-attachment: fixed; */
    /* background-attachment: scroll; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* padding-top: 0.5%; */
    /* padding-bottom: 0.5%;  */
    margin-bottom: 50px;
    margin-top: 50px;
    /* width: 70%;
    width: 70%; */
    background-position: center;
    height: 35vw;


}



/* button:hover {
    transform: scale(1.1);
} */

.vanGogh_historiac {
    /* border: solid rgb(13, 179, 27) 3px; */
    text-align: center;
    justify-items: center;
    /* margin: 0 15vw 0 1vw; */
    /* justify-content: space-around; */
    /* padding: 4% 0 4% 0; */
    width: 50%;


}

.vanGogh_historiac h1 {
    /* border: solid rgb(239, 162, 112) 3px; */
    font-size: 5vw;
    font-family: 'Shalimar', cursive;
    font-weight: 100;
    /* color: white; */
}

.vanGogh img {
    height: 24vw;
    width: 28vw;
    /* border: solid rgb(255, 255, 255) 3px; */
}

.vanGogh .img {
    /* border: solid rgb(95, 38, 0) 3px; */
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 1vw 0 15vw; */
    /* padding: 0 2% 0 2%; */


}

.vanGogh_historiac p {
    /* border: solid rgb(95, 38, 0) 3px; */
    /* color: white; */
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* .vanGogh_historiac button {
    text-align: center;
    border: #090544 1px solid;
    color: white;
    font-size: 1vw;
    width: 26%;
    background-color: #5ae7dd00;
    border-radius: 15px;
    transition: all .4s;

} */

.modal {
    position: fixed;
    width: 60%;
    top: 1%;
    left: 18%;
    padding: 2%;
    background-color: rgb(0, 0, 0);
    /* opacity: 0; */
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 15px;
    transition: all 1s;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* .modal :hover {
    transform: scale(1.1);
} */

.modal p {
    font-size: 1.2vw;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 600; */
}

.modal:target {
    /* opacity: 1; */
    display: flex;
    pointer-events: auto;

}

.menos {
    text-decoration: none;
    font-size: 1vw;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    width: 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.mais {
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 600; */
    color: white;
    background-color: #090544;
    border-radius: 15px;
    padding: 2%;

}

/*/////////////////////////////// obras /////////////////////*/

.span_titulos {
    /* color: white; */
    font-size: 8vw;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-weight: 20;
    /* border: #bd2727 solid 3px; */
    margin: 0;
    padding: 0;
}

.obras .container {
    /* border: #00FFF0 solid 3px; */
    /* width: 90%; */
}

.obras {
    /* border: #ff09b5 solid 3px; */
    /* width: 90%; */
}

.carrossel {
    width: 65.5vw;
    height: 388px;
    outline: 3px solid #09054457;
    margin: 15px auto 25px auto;
    padding: 0 0 0 0.4%;

    box-shadow: -15px 5px 25px #090544c7;
    overflow: hidden;
}

.carrossel ul {
    /* border: solid 3px lawngreen; */
    display: flex;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 600vw;
    height: 600vw; */
}

.carrossel li {
    padding: 1% 1% 1% 0;
    /* border: 1px solid rgb(255, 3, 3); */
    position: relative;
    animation: slide 18s infinite ease-out;
}

@keyframes slide {
    0% {
        left: 0px
    }

    10% {
        left: 0px;
    }

    20% {
        left: -450px;
    }

    30% {
        left: -450px;
    }

    40% {
        left: -900px;
    }

    50% {
        left: -900px;
    }

    60% {
        left: -1350px;
    }

    70% {
        left: -1350px;
    }

    80% {
        left: -1800px;
    }

    90% {
        left: -1800px;
    }

    100% {
        left: 0px;
    }

}

/*///////////////////////////////////////// button mais obras /////////////////////*/

.todasObras {
    /* border: solid 3px lawngreen; */
}

.todasObras .container {
    /* border: solid 3px rgb(38, 0, 252); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.todasObras button {
    border: solid 3px #090544;
    background-color: #090544;
    border-radius: 15px;
    padding: 1% 2%;
    color: white;
    transition: all 0.4s;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    
}

#mostrar_obras {
    font-size: 1.6vw;
    margin-bottom: 5%;

}

.todasObras button:hover {
    background: #00FFF0;
}

/* .imagens_obras {
    border: solid 3px indigo;
    display: flex; 
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 0.5%; 

} */

/* .imagens_obras img {
    border: solid 3px rgb(214, 19, 19);
    width: 35%; 
    
}
    */


/* .texto {
    border: solid rgb(77, 255, 0) 3px;
    color: black;
    width: 40%;
    font-size: 1.8vw;
    
} */
/* .imagens_obras .legenda1:hover {
    transform: scale(1.1);
}
.imagens_obras .legenda2:hover {
    transform: scale(1.1);
}
.imagens_obras .legenda3:hover {
    transform: scale(1.1);
}
.imagens_obras .legenda4:hover {
    transform: scale(1.1);
}
.imagens_obras .legenda5:hover {
    transform: scale(1.1);
}
.imagens_obras .legenda6:hover {
    transform: scale(1.1);
} */

/* .legenda1 {
    border: solid rgb(206, 90, 128) 3px;
    background-color: #9dbcbc;
    border-radius: 15px;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    transition: all .4s;
} */
/* .legenda2 {
    border: solid rgb(206, 90, 128) 3px;
    padding: 0 0 0 4%;
    background-color: #8acbb5;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all .4s;
} */
/* .legenda3 {
    border: solid rgb(206, 90, 128) 3px;
    padding: 0 0 0 4%;
    background-color: #f7e9aa;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all .4s;
} */
/* .legenda4 {
    border: solid rgb(206, 90, 128) 3px;
    padding: 0 0 0 4%;
    background-color: #eb9d8d;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all .4s;
}
.legenda5 {
    border: solid rgb(206, 90, 128) 3px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #c7b299;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all .4s;
    padding: 0 0 0 4%;
} */
/* .legenda6 {
    border: solid rgb(206, 90, 128) 3px;
    padding: 0 0 0 4%;
    background-color: #b998b3;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all .4s;
} */


/*//////////////////////// somos ///////////////////////////////*/
#ja_somos {
    /* border: rgb(182, 7, 176) solid 3px; */
    /* color: white; */
    width: auto;
    height: auto;
    font-size: 4vw;
    text-align: center;
    color: black;
}

.ref2 {
    text-decoration: none;
    color: white;
    /* color: rgb(0, 0, 0); */
}

#cadastre {
    /* border: #00877e solid 1px; */
    text-decoration: none;
    background-color: #090544;
    font-size: 1.8vw;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    margin-top: 2%;
    width: auto;
    transition: all .2s;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    }

#cadastre:hover {
    transform: scale(1.1);

}

.somos {
    margin-top: 5%;
    margin-bottom: 5%;
    /* border: salmon solid 3px; */
}

.somos .container {
    width: 66%;
    border-radius: 10px;
    display: flex;
    margin-top: 4%;
    padding: 2% 0 2% 0;
    flex-direction: column;
    align-items: center;
    height: auto;

}


/*//////////////////////////////// cartas /////////////////*/
.cartas {
    border: 3px solid orange;
    margin-top: 10%;
    margin-bottom: 5%;

}

.cartas .container {
    /* border-image: linear-gradient(#00ffee82, #160c9f5d) 30;
    border-width: px;
    border-style: solid; */
    /* background-color: #00ffee6c; */
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border-radius: 15px; */
    background-image: url(../imgs/banner.cartas.png);
    background-position: center;
    height: 28vw;
}

.cartas img {
    height: 25vw;
    width: 22vw;
}


.cartas .img2 {
    border: #000000 solid 3px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.msg_cartas {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid palevioletred 3px;
    align-items: center;
}

.cartas p {

    border: #bd2727 solid 3px;
    color: black;
    font-size: 2vw;
    height: auto;
    text-align: justify;
}



/*//////////////////////////// footer //////////////////*/

.footer {
    /* border: rgb(255, 238, 2) solid 3px; */
    /* background: linear-gradient(to bottom, #00ffee30, #00ffee0c); */
    background-color: black;
    height: auto;
    color: white;

    border-top: rgba(255, 255, 255, 0.678) 3px solid;
}

.footer .container {
    /* border: rgb(0, 0, 0) solid 3px; */
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 6%; */

}

.footer h2 {
    /* border: solid 3px indianred; */
    /* padding-top: 1%; */
    margin: 0%;
}

.footer p {
    /* padding-bottom: 1%; */
    /* border: solid 3px indianred; */
    /* margin: 1%; */
    margin: 0%;
}

/*///////////////// indicacao ////////////////*/
.indicacao .container {
    /* border: solid 3px fuchsia; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* margin: 0; */
    padding: 2%;

}

.indicacao {
    padding-top: 5%;
}

#a .indicacao .container {

    padding-bottom: 6%;
}

.indicacao img {
    width: 25vw;
}

#back {
    background-color: black;
    margin-bottom: 0;
    background-image: url(../imgs/vetor.azul.png);
    background-attachment: fixed;
    color: white;
}