@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

body {
    margin: 0;
    background-color: #ffffff;
    background-image: url(../imgs/vetor.body.png);
    /* color: black; */

}

.container {
    width: 80%;
    margin: auto;
}

#primeiroH1 {
    /* border: white solid 3px; */
    font-size: 2.8vw;
    color: white;
}

.header {
    /* border: solid 3px orchid; */
    height: 95px;

}

.header .container {
    /* border: solid 3px rgb(199, 17, 135); */
    display: flex;
    height: auto;
    justify-content: space-between;

}


.header {
    /* border: solid 3px rgb(75, 8, 16); */
    /* background: linear-gradient(to bottom, #000000c5, #00ffee00); */
    background: black;
    display: flex;
    align-items: center;
    /* color: white; */
}

#conta {
    /* border: #00ffee40 solid 1px; */
    color: black;
    background: #00FFF0;
    border-radius: 20px;
    padding: 2% 10%;
    text-decoration: none;
    width: 40%;

}

.ref {
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    padding: 6% 10% 6% 10%;
    border-radius: 15px;
}


#aqui {
    color: #ffffff;
}

ul {
    border: solid 3px rgb(255, 255, 255);
    align-items: center;
    width: 28%;
    padding: 0;
    justify-content: center;
    display: flex;
    list-style: none;
    color: white;
}

li {
    border: solid 3px rgb(75, 37, 8);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    padding: 5px;
    width: auto;
    text-align: center;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
}

/*/////////////////////// numero de cadastro //////////////*/
#numero_usuario {
    border: solid orangered 3px;
    width: 28vw;
}

#numero_usuario .container {
    border: solid rgb(255, 255, 255) 3px;

}

#msg_numero_usuario {
    border: solid rgb(178, 27, 90) 3px;
    /* color: white; */
    font-size: 1.5vw;
    width: 15vw;
    color: white;
}

/*///////////conteudo ///////////////////*/

.conteudo{
    border: solid orange 3px;
    margin-top: 30px;
}
.conteudo .container{
    border: solid rgb(0, 0, 0) 3px;
    height: 35vw;
}


.conteudo img{
    border: solid rgb(29, 92, 228) 3px;
    width: 90%;
    /* margin: 10px; */
    
}
.conteudo .div{
    border: solid rgb(35, 192, 11) 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    
}

.conteudo button{
    border: solid 3px deeppink;
    width: 30%;
    font-size: 1.5vw;
    padding: 1%;
    color: white;
    background-color: #090544;
    border-radius: 15px;
    margin: 5px;

}
.conteudo .img{
    border: solid rgb(17, 196, 212) 5px;
    width: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
   /* justify-content: space-around; */
}


/*/////////////////////// footer  //////////////*/

.footer {
    /* border: rgb(255, 238, 2) solid 3px; */
    /* background: linear-gradient(to bottom, #00ffee30, #00ffee0c); */
    background-color: black;
    height: auto;
    color: white;

}

.footer .container {
    /* border: rgb(0, 0, 0) solid 3px; */
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;

}

.footer h2 {
    /* border: solid 3px indianred; */
    /* padding-top: 1%; */
    margin: 0%;
}

.footer p {
    /* padding-bottom: 1%; */
    /* border: solid 3px indianred; */
    /* margin: 1%; */
    margin: 0%;
}

/*/////////////// indicacao /////////////////*/
.span_titulos {
    /* color: white; */
    font-size: 8vw;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-weight: 20;
    /* border: #bd2727 solid 3px; */
    margin: 0;
    padding: 0;
}
