@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shalimar&display=swap');


body {
    margin: 0;
    background-color: #ffffff;
    background-image: url(../imgs/vetor.body.png);
    /* color: black; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    width: 80%;
    margin: auto;
}


#primeiroH1 {
    /* border: white solid 3px; */
    font-size: 2.8vw;
    color: white;
}

.header {
    /* border: solid 3px orchid; */
    height: 95px;

}

.header .container {
    /* border: solid 3px rgb(199, 17, 135); */
    display: flex;
    height: auto;
    justify-content: space-between;

}


.header {
    /* border: solid 3px rgb(75, 8, 16); */
    /* background: linear-gradient(to bottom, #000000c5, #00ffee00); */
    background: black;
    display: flex;
    align-items: center;
    /* color: white; */
}

#conta {
    /* border: #00ffee40 solid 1px; */
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10% 15% 10% 15%;
    border-radius: 15px;


}

.ref {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
   
}

#aqui {
    color: #ffffff;
}

ul {
    /* border: solid 3px rgb(255, 255, 255); */
    align-items: center;
    width: 28%;
    padding: 0;
    justify-content: center;
    display: flex;
    list-style: none;
    color: white;
}

li {
    /* border: solid 3px rgb(75, 37, 8); */
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    padding: 5px;
    width: auto;
    text-align: center;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
}

/*//////////////////////// grafic ///////////////////////////*/
.grafic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafic .container{
    border: solid 1px #00FFF0;
    height: 22vw;
    width: 48vw;
    border-radius: 20px;
    padding: 2%;
}
/*///////////////// frida ////////////////*/


.conteudo{
    text-align: center;
    /* margin-top: 5%; */
    margin-bottom: 5%;
}

.conteudo .container{
    /* border: #00FFF0 solid 3px ; */
    display: flex;
    align-items: center;

}

.conteudo .container img{
    width: 30vw;
}
.conteudo .container p{
    font-size: 2vw;
    text-align: center;
}
.conteudo h1{
    padding: 3%;
}

/*/////////////////////// obras ///////////////////*/
 

.span_titulos {
    /* color: white; */
    font-size: 8vw;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-weight: 20;
    /* border: #bd2727 solid 3px; */
    margin: 0;
    padding: 0;
}


.carrossel {
    width: 65.5vw;
    height: 388px;
    /* outline: 3px solid #09054457; */
    margin: 15px auto 25px auto;
    padding: 0 0 0 0.4%;

}

.carrossel ul {
    /* border: solid 3px lawngreen; */
    display: flex;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    
}

.carrossel li {
    padding: 1% 1% 1% 0;
    /* border: 1px solid rgb(255, 3, 3); */
    position: relative;
    animation: slide 16s infinite ease-out;
}
 
@keyframes slide {
    0% {
        left: 100px
    }
    50% {
        left: 500px
    }
  
    100% {
        left: 100px
    }

   

}

/*/////////////////// footer ////////////////////*/


.footer {
    /* border: rgb(255, 238, 2) solid 3px; */
    background-color: black;
    height: auto;
    color: white;

}

.footer .container {
    /* border: rgb(0, 0, 0) solid 3px; */
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;

}

.footer h2 {
    /* border: solid 3px indianred; */
    margin: 0%;
}

.footer p {
    margin: 0%;
}

/*/////////////// indicacao /////////////////*/
.span_titulos {
    /* color: white; */
    font-size: 8vw;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-weight: 20;
    /* border: #bd2727 solid 3px; */
    margin: 0;
    padding: 0;
}


#msg_numero_usuario{
    color: white;
}